MONGO_URI=your_mongodb_uri_here
DATABASE_NAME=smart_retail_db
COLLECTION_NAME=superstore_records

AZURE_STORAGE_ACCOUNT=your_storage_account
AZURE_STORAGE_KEY=your_storage_key
AZURE_CONTAINER_NAME=your_container_name

AZURE_SEARCH_ENDPOINT=your_azure_ai_search_endpoint
AZURE_SEARCH_ADMIN_KEY=your_azure_ai_search_admin_key
AZURE_SEARCH_INDEX=smart-retail-index

AZURE_OPENAI_BASE_URL=your_azure_openai_endpoint
AZURE_OPENAI_API_KEY=your_azure_openai_key
AZURE_OPENAI_DEPLOYMENT=gpt-4.1
